html {
    background-image: url("fon.jpg"); 
    background-size: 2100px auto;
    background-repeat: no-repeat;
}

body {
    font-family: 'JetBrains Mono', monospace;
    text-align: justify;
}

.text_vstup {
    color: white;
    font-size: 2.1vw;
    width: 50%;
    position: absolute;
    top: 10vh;
    left: 200px;
    font-weight: bold;
}

.zrazok_zajava {
    color: white;
    font-size: 2vw;
    width: 50%;
    position: absolute;
    top: 35vh;
    left: 200px;
    font-weight: bold;
    text-transform: uppercase;
}

.zrazok_button button {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'JetBrains Mono', monospace;
    border-radius: 50px;
    font-size: 2vw;
    font-weight: bold;
    width: 25vw;
    height: 10vh;
    padding: 1vh 2vw;
    color: rgb(255, 255, 255);
    border-color: white;
    border: 3px solid rgb(255, 255, 255);
    position: absolute;
    top: 17vh;
    right: 12vw;
}

.PIB {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 2.1vw;
    width: 30%;
    position: absolute;
    top: 50vh;
    right: 12vw;
    font-weight: bold;
}

.zajava {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    color: white;
    font-size: 3vw;
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.zapovnena {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    font-size: 2.3vw;
    width: 80%;
    position: absolute;
    top: 90vh;
    left: 175px;
    font-weight: bold;
    text-align: justify;
}

.data {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    color: white;
    font-size: 2.3vw;
    width: 55%;
    position: absolute;
    top: 145vh;
    left: 0;
    font-weight: bold;
}

.data_text {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    color: white;
    font-size: 2.3vw;
    width: 55%;
    position: absolute;
    top: 147vh;
    left: 0;
    font-weight: bold;
    font-style: italic;
}

.pidpis {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    color: white;
    font-size: 2.3vw;
    width: 55%;
    position: absolute;
    top: 145vh;
    right: 0;
    font-weight: bold;
}

.pidpis_text {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    color: white;
    font-size: 2.3vw;
    width: 55%;
    position: absolute;
    top: 147vh;
    right: 0;
    font-weight: bold;
    font-style: italic;
}

.text_download {
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    color: white;
    font-size: 2.3vw;
    position: absolute;
    top: 160vh;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
}

.download button {
    text-align: center;
    font-size: 2.1vw;
    width: 20vw;
    position: absolute;
    top: 193vh;
    left: calc(50% - 25vw);
    background-color: rgba(255, 255, 255);
    font-family: 'JetBrains Mono', monospace;
    border-radius: 50px;
    height: 8vh;
    padding: 1vh 2vw;
    color: rgb(0, 0, 0);
    background-position: right center;
    padding-left: 80px;
    border-color: rgb(135, 135, 135);
    border: 3px solid rgb(135, 135, 135);
    background-image: url("t.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 10%;
}

.vibpravyty_zajavu button {
    text-align: center;
    font-size: 2vw;
    width: 20vw;
    position: absolute;
    top: 193vh;
    right: calc(50% - 25vw);
    background-color: rgba(255, 255, 255, 0);
    font-family: 'JetBrains Mono', monospace;
    border-radius: 50px;
    height: 8vh;
    padding: 1vh 1vw;
    color: rgb(255, 255, 255);
    background-position: right center;
    border-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    text-align: justify;
}

.facebook button {
    background-image: url("facebook.png");
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    text-align: center;
    border-color: rgb(255, 255, 255, 0);
    font-size: 1vw;
    position: absolute;
    top: 210vh;
    left: calc(50% - 13vw);
}

.telegram button {
    background-image: url("telegram.png");
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    top: 210vh;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    text-align: center;
    border-color: rgba(255, 255, 255, 0);
    font-size: 1vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.sms button {
    background-image: url("sms.png");
    background-color: rgba(255, 255, 255, 0);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    text-align: center;
    border-color: rgb(255, 255, 255, 0);
    font-size: 1vw;
    position: absolute;
    top: 210vh;
    right: calc(50% - 13vw);
}

.konez {
    color: white;
    font-size: 1.5vw;
}

.download-button {
    background-color: #000;
    color: #fff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 20px;
    display: block;
    margin-top: 10px;
}

iframe {
    border: 0px;
}
