body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

header {
    position: absolute;
    
   
top: 0;
    left: 0;
    width: 100%;
    display: flex;
    
align-items: center;
    
   
background-color: rgba(34, 34, 34, 0.7); /* Semi-transparent dark gray color */
    padding: 20px;
    font-family: "JetBrains Mono";
    
z-index: 1;
}

h1 {
    color: #F8F8F8 !important;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 16px !important; /* Розмір тексту 24 пікселі */
}

nav {
    display: flex;
}
.devider {
    width: 1710px;
    height: 44px;
    background-color: #eaeaeac9; 
    margin-bottom: 0px;
    margin-top:0px;
  }
nav a {
    text-decoration: none;
    color: #F8F8F8;
    margin-left: 30px;
}

nav {
    float: right;
}


main {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    display: flex;
    flex-direction: column;
}

main > section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-snap-align: start;
}

.firstphoto {
    width: 1700px; /* Adjust the width as needed */
    height: 1200px;
     /* Adjust the maximum height as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.headersection1{
    color: #212529    !important;
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 40px;
    font-size: 64px !important;
    font-family: "JetBrains Mono"; 
}
p{
    color: #212529    !important;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 80px ;
    font-size: 30px !important; 
    font-family: "JetBrains Mono";

}
.btn-new {
    width: 200px;
    height: 60px;
    border: 2px solid #333;
    background: #808080;
    color: white;
    border-radius: 10px;
    transition: .2s linear;
    text-align: center;
    line-height: 36px; /* Вирівнювання тексту вертикально в центр */
    cursor: pointer;
    user-select: none; /* Заборона виділення тексту курсором */
    font-size: 14px; /* Розмір шрифту */
    font-family:"JetBrains Mono" ; /* Шрифт */
  }
.text_3{
    color: #212529    !important;
    margin-top: 30px;
    margin-left: 120px;
    margin-right: 700px;
    margin-bottom: 60px ;
    font-size: 24px !important; 
    font-family: "JetBrains Mono";
}
.headersection2{
    color: #212529    !important;
    margin-top: 40px;
    margin-left: 120px;
    margin-right: 700px;
    margin-bottom: 40px;
    font-size: 48px !important;
    font-family: "JetBrains Mono"; 
}
.firstphoto2 {
    max-width: 100%;
    float: right;
    margin-top: -40px; /* Змініть це значення від'ємне значення відповідно до вашого дизайну */
    margin-left: 0px;
  }
.devider2{
    width: 1710px;
    height: 44px;
    background-color: #eaeaeac9; 
    margin-bottom: 30px;
    margin-top:100px;
}
.firstphoto3 {
    max-width: 100%;
    float: left;
    margin-top: -40px; /* Змініть це значення від'ємне значення відповідно до вашого дизайну */
    margin-left: 0px;
  }
.text_4{
    color: #212529    !important;
    margin-top: 30px;
    margin-left: 880px;
    margin-right: 120px;
    margin-bottom: 60px ;
    font-size: 24px !important; 
    font-family: "JetBrains Mono";
}
.headersection3{
    color: #212529    !important;
    margin-top: 40px;
    margin-left: 880px;
    margin-right: 120px;
    margin-bottom: 40px;
    font-size: 48px !important;
    font-family: "JetBrains Mono"; 
}
.devider3{
    width: 1710px;
    height: 44px;
    background-color: #eaeaeac9; 
    margin-bottom: 30px;
    margin-top:-11px;
}
