<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>РОЗРОБКА ТРИВАЄ</title>
    <link rel="stylesheet" href="/static/slide_1.css">
</head>
<body>
    <form action="/form2" method="POST">
    <div class="logo">
        <p></p>
    </div>
    <div class="nazva">
        <h1>
            ГО “ЦЕНТР ЦИФРОВИХ ДОСЛІДЖЕНЬ”
        </h1>
    </div>
    <div class="text">
        <p>
            Розробка аналітичного сервісу DRC-Analytics досі триває. Заповніть форму нижче, якщо хочете отримати повідомлення про реліз.
        </p>
    </div>
    <div class="name">
        <input type="text" placeholder="Ваше ім’я" name="name">
    </div>
    <div class="email">
        <input type="text" placeholder="Електронна пошта" name="email">
    </div>
    <div class="kursi">
        <button type="submit">
            ТРИМАЙТЕ МЕНЕ В КУРСІ
        </button>
    </div>
</form>
<div class="buttons">
    <div class="facebook">
        <button></button>
    </div>
    <div class="telegram">
        <button></button>
    </div>
    <div class="sms">
        <button></button>
    </div>
</div>
<div class="konez">
    <p>
        © Copyright 2024
    </p>
</div>
</body>
</html>
