<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram Group Posts</title>
</head>
<body>
    <h1>Telegram Group Posts</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2><a href="{{ post.link_url }}">{{ post.link_title }}</a></h2>
                {% if post.link_image_url %}
                    <img src="{{ post.link_image_url }}" alt="Image">
                {% endif %}
                <p>{{ post.text }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
