<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submission Under Review</title>
</head>
<body style="font-family: 'JetBrains Mono', monospace; background: url('https://cdn.discordapp.com/attachments/1187903484612333588/1219073035059986462/fon_slide_1.png?ex=6609f93c&is=65f7843c&hm=b6a602bf9a4102888e21a9c26afb060119920ebabbe841bf1dfde1a5deae5f91&') no-repeat center center fixed; background-size: cover; color: white; margin: 0; padding: 0;">
    <div style="text-align: center; padding-top: 5vh;">
        <img src="https://cdn.discordapp.com/attachments/1187903484612333588/1219071525261414450/logo.png?ex=6609f7d4&is=65f782d4&hm=2dea3f293c87d84072b0cdc99261389a912f86bd4116f4b158519f604a6a8002&" alt="Company Logo" style="max-width: 100%; max-height: 10vh;">
    </div>
    <div style="font-family: 'JetBrains Mono', monospace; font-size: 1vw; text-align: center; padding-top: 10vh;">
        <h1 style="font-size: 2vw;">Заявка була відправлена!</h1>
        <p style="font-size: 1.5vw;">Ваша заявка проходе на етап просмотру адміністрацією </p>
        <p style="font-size: 1.5vw;">Очікуйте подальших повідомлень коли вашу заявку переглянуть</p>
        <h1 style="font-size: 2vw;">З повагою ГО “ЦЕНТР ЦИФРОВИХ ДОСЛІДЖЕНЬ”</h1>
    </div>
</body>
</html>
